@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@500&display=swap');

*{
    font-family:  'IBM Plex Sans Condensed', sans-serif !important;
}
.sidebar{
    color:#949ca7;
    font-size: 1rem;
    font-weight: 600;
    fill:#929aa5;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sidebar li:hover{
    background-color:#f5f5f5;
}
.heading{
    background-color: #fafafa;
}
.sidebarMain{
    display: block;
}
@media screen and (max-width: 800px) {
    .sidebarMain{
        display:none !important;
    }
    
}
